<div [@routerTransition]>
  <div class="m-subheader ">
      <div class="d-flex align-items-center">
        <div class="mr-auto col-sm-6">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{l("PhoneBook")}}</span>
          </h3>
         </div>
      </div>
   </div>

  <div class="m-content">
      <div class="m-portlet m-portlet--mobile">
       <div class="m-portlet__body">
            <h3>{{l("AllPeople")}}</h3>
           <div class="m-widget1">
             <div class="m-widget1__item" *ngFor="let person of people">
              <div class="row m-row--no-padding align-items-center">
                  <div class="col">
                    <h3 class="m-widget1__title">{{person.name + '' + person.surname}}</h3>
                    <span class="m-widget1__desc">{{person.emailAddress}}</span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>